In [4]:
list = [1,2,'hello',"hello"]
print(list)
print(type(list))

[1, 2, 'hello', 'hello']
<class 'list'>

In [18]:

    num = int(input("Enter the number: "))
    if num == 10:
        print("It is correct")
    else:
        print("It is not correct")

It is correct

In [15]:
mytuple =(1,2,3,4,5)
print(mytuple)
print(type(mytuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

# sets
- create

In [9]:
myset =(1,2,3,4,'hello', "hii")
print(myset)
print(type(myset))

(1, 2, 3, 4, 'hello', 'hii')
<class 'tuple'>

In [13]:
my_dict = {
    "name" : "aayush",
    "age" : 21,
    "city" : " lucknow"
}
print(my_dict)
print(my_dict["name"])

{'name': 'aayush', 'age': 21, 'city': ' lucknow'}
aayush

## operators
- Arithmetics
- Assignement
- comparison
- Logical
- Identity
- Membersgip

In [ ]:
x = 20 
y = 10
print(x+y) # add two nymber
print(x-y) # subs two number 
print(x*y) # mult of two number 
print(x/y) # divi of two number
print(x%y) # modules given the remainder
print(x//y) # floor division of two number

## Assignment Operators

In [2]:
x=10
print(x)
x+=10
print(x)

10
20

In [3]:
x=10
x-=10
print(x)

0

In [5]:
x=10
x*=10
print(x)
x/=10
print(x)

100
10.0

## Comparison Operators

In [8]:
a= int(input("enter the first value"))
b= int(input("enter the second value"))
if a==b:
   print("both value are equal")
else:
  print("value are not equal")

value are not equal

In [10]:
x=4
y=5
print(x==y)
print(x!=y)

False
True

## Logical Operators

In [13]:
a= 4
b= 5
print(a<b and b>a)
print(a<b or b<a)
print(not(a<b and b>a))

True
True
False

## Identity Operators

In [22]:
fruit = ["apple","banana"]
colour = ["black","red"]
print(colour in fruit)
print(fruit not in colour)

False
True