## list 
- creating 
- indexing n slicing 
- methods
- comprehension

In [2]:
a = [] # eempty list
b = [1,2,3,4] # numerical list 
c = ['apple',' banana', 'cherry'] # string list 
d = [1, 'apple', 3.5, True] # mixed list
e = [[1,2,3,4],[5,6,7,8],[9,10,11,12]] # list of lists 
f = [['aaple',1], ['banana', 3],['cherry',2,120]] # mixed nested list 
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', ' banana', 'cherry']
[1, 'apple', 3.5, True]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[['aaple', 1], ['banana', 3], ['cherry', 2, 120]]

In [4]:
for i in c :
    print(i)
for i in d:
    print(i)

apple
 banana
cherry
1
apple
3.5
True

In [7]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4))
j = [1,2,3] * 5 # duplicted list
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
movies = ['golmaal','3 idiot',
          'delhi safari','kanchana']
print(movies)
print(len(movies))
print("first_movie:",movies[0])
print("last_movie:",movies[-1])
print("second_movie:",movies[1])
print("third_movie:",movies[2])

['golmaal', '3 idiot', 'delhi safari', 'kanchana']
4
first_movie: golmaal
last_movie: kanchana
second_movie: 3 idiot
third_movie: delhi safari

In [19]:
number = [1,2,3,4,5,6,7,8,9,10]
print(number[:3]) # 0,1,2
print(number[:-3])
print(number[2:-2]) #
print(number[::-1]) # reverce the number of list
print(number[::2]) # every other number in the list

[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

# list methord (11)
- adding / updating 
  - append()
  - extend()
   - insert()

- removing / deleting 
   - remove()
   - pop()
   - clear()
- utility
  - sort()
  - reverse()
  - index()
  - count()
   - copy()

In [21]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("Enter your fav book: ")
    fav_books.append(book)
for i in range(3):
    book = input("Enter your hated book: ")
    hated_books.append(book)


print("Your fav books are: ", fav_books)
print("Your hated books are: ", hated_books)

Your fav books are:  ['art of being alone ', 'harry potter', 'the final empire', '', '']
Your hated books are:  ['', '', '']

In [22]:
hated_books.append("julius caesar")
print(hated_books)

['', '', '', 'julius caesar']

In [23]:
# merge two list or create a new list 
books = fav_books + hated_books
print(books)

['art of being alone ', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar']

In [27]:
#  adding a list to existing list 
books.extend(['legins', 'psyclogy of money',' The intelligent invester'])
print(books)
print('total books :', len(books))

['art of being alone ', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester']
total books : 21

In [28]:
books.append(['diary of a wimpy kid ', 'harry potter']) # nesting
print(books)

['art of being alone ', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', ['diary of a wimpy kid ', 'harry potter']]

In [37]:
books.insert(2,'harry potter')
print(books)

['art of being alone ', 'harry potter', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', ['diary of a wimpy kid ', 'harry potter']]

In [40]:
books[10] = 'pygmalion' # replace at index 10 
books

['art of being alone ',
 'harry potter',
 'harry potter',
 'the final empire',
 '',
 '',
 '',
 '',
 '',
 'julius caesar',
 'pygmalion',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 ['diary of a wimpy kid ', 'harry potter']]

In [43]:
books.remove("harry potter") # remove by value

ValueError: list.remove(x): x not in list

In [44]:
books

['art of being alone ',
 'the final empire',
 '',
 '',
 '',
 '',
 '',
 'julius caesar',
 'pygmalion',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 ['diary of a wimpy kid ', 'harry potter']]

In [47]:
books.pop(12) # remove by index

'legins'

In [49]:
books.pop() # remove last element

['diary of a wimpy kid ', 'harry potter']

In [50]:
fav_books.clear() # remove all element
fav_books

[]

### wap to create an empty list then fill the list with 10 prime number using a loop ,starting with 2