## list 
- creating 
- indexing n slicing 
- methods
- comprehension

In [2]:
a = [] # eempty list
b = [1,2,3,4] # numerical list 
c = ['apple',' banana', 'cherry'] # string list 
d = [1, 'apple', 3.5, True] # mixed list
e = [[1,2,3,4],[5,6,7,8],[9,10,11,12]] # list of lists 
f = [['aaple',1], ['banana', 3],['cherry',2,120]] # mixed nested list 
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', ' banana', 'cherry']
[1, 'apple', 3.5, True]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[['aaple', 1], ['banana', 3], ['cherry', 2, 120]]

In [4]:
for i in c :
    print(i)
for i in d:
    print(i)

apple
 banana
cherry
1
apple
3.5
True

In [7]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4))
j = [1,2,3] * 5 # duplicted list
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
movies = ['golmaal','3 idiot',
          'delhi safari','kanchana']
print(movies)
print(len(movies))
print("first_movie:",movies[0])
print("last_movie:",movies[-1])
print("second_movie:",movies[1])
print("third_movie:",movies[2])

['golmaal', '3 idiot', 'delhi safari', 'kanchana']
4
first_movie: golmaal
last_movie: kanchana
second_movie: 3 idiot
third_movie: delhi safari

In [19]:
number = [1,2,3,4,5,6,7,8,9,10]
print(number[:3]) # 0,1,2
print(number[:-3])
print(number[2:-2]) #
print(number[::-1]) # reverce the number of list
print(number[::2]) # every other number in the list

[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

# list methord (11)
- adding / updating 
  - append()
  - extend()
   - insert()

- removing / deleting 
   - remove()
   - pop()
   - clear()
- utility
  - sort()
  - reverse()
  - index()
  - count()
   - copy()

In [21]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("Enter your fav book: ")
    fav_books.append(book)
for i in range(3):
    book = input("Enter your hated book: ")
    hated_books.append(book)


print("Your fav books are: ", fav_books)
print("Your hated books are: ", hated_books)

Your fav books are:  ['art of being alone ', 'harry potter', 'the final empire', '', '']
Your hated books are:  ['', '', '']

In [22]:
hated_books.append("julius caesar")
print(hated_books)

['', '', '', 'julius caesar']

In [23]:
# merge two list or create a new list 
books = fav_books + hated_books
print(books)

['art of being alone ', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar']

In [27]:
#  adding a list to existing list 
books.extend(['legins', 'psyclogy of money',' The intelligent invester'])
print(books)
print('total books :', len(books))

['art of being alone ', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester']
total books : 21

In [28]:
books.append(['diary of a wimpy kid ', 'harry potter']) # nesting
print(books)

['art of being alone ', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', ['diary of a wimpy kid ', 'harry potter']]

In [37]:
books.insert(2,'harry potter')
print(books)

['art of being alone ', 'harry potter', 'harry potter', 'the final empire', '', '', '', '', '', 'julius caesar', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', 'legins', 'psyclogy of money', ' The intelligent invester', ['diary of a wimpy kid ', 'harry potter']]

In [40]:
books[10] = 'pygmalion' # replace at index 10 
books

['art of being alone ',
 'harry potter',
 'harry potter',
 'the final empire',
 '',
 '',
 '',
 '',
 '',
 'julius caesar',
 'pygmalion',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 ['diary of a wimpy kid ', 'harry potter']]

In [43]:
books.remove("harry potter") # remove by value

ValueError: list.remove(x): x not in list

In [44]:
books

['art of being alone ',
 'the final empire',
 '',
 '',
 '',
 '',
 '',
 'julius caesar',
 'pygmalion',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 'legins',
 'psyclogy of money',
 ' The intelligent invester',
 ['diary of a wimpy kid ', 'harry potter']]

In [47]:
books.pop(12) # remove by index

'legins'

In [49]:
books.pop() # remove last element

['diary of a wimpy kid ', 'harry potter']

In [50]:
fav_books.clear() # remove all element
fav_books

[]

### wap to create an empty list then fill the list with 10 prime number using a loop ,starting with 2

In [3]:
number = [12,3,4,56,2,35,6,7,5,8]
# reverse
print(number[::-1])

[8, 5, 7, 6, 35, 2, 56, 4, 3, 12]

In [4]:
number.reverse() # change the original list

In [5]:
print(number)

[8, 5, 7, 6, 35, 2, 56, 4, 3, 12]

In [8]:
number.sort() # ascending order , changes to the original list 
print(number)
number.sort(reverse=True) # descending order , changes to the original list
print(number)

[2, 3, 4, 5, 6, 7, 8, 12, 35, 56]
[56, 35, 12, 8, 7, 6, 5, 4, 3, 2]

In [9]:
x = [[1,12],[2,5],[5,10],[4,15]]
x.sort()
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [11]:
x.sort(key = lambda  e:e[1])
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [12]:
x.sort(key=lambda i: sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [13]:
user = [('Alice',25),('bob',19),('alex',35)]
user.sort()
print(user)

[('Alice', 25), ('alex', 35), ('bob', 19)]

In [14]:
cart = [
    ['mobile',25000,2],
    ['laptop',50000,1],
    ['tablet',15000,3],
    ['smartwatch',10000,1],
]
cart.sort()
print(cart)

[['laptop', 50000, 1], ['mobile', 25000, 2], ['smartwatch', 10000, 1], ['tablet', 15000, 3]]

In [16]:
cart.sort(key=lambda e:e[2] ) # according to total price

In [17]:
print(cart)

[['laptop', 50000, 1], ['smartwatch', 10000, 1], ['mobile', 25000, 2], ['tablet', 15000, 3]]

In [20]:
a = [1,2,3,4,6,5,1,7,5,1,1,1,7,5,6]
print("1 occurs",a.count(1))
print("2 occurs",a.count(2))
print("3 occurs",a.count(3))

1 occurs 5
2 occurs 1
3 occurs 1

In [21]:
number.index(12) # give the index of 12 (first occurence)

2

In [28]:
a = [1,2,3,4,5]
b = a.copy() # shaloow copy (new list with same element )
c = a # reference copy (both a and c refer to same list )
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]

## comprehension

In [31]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a]
print(a)
print(a3)
a5 = [i-5 for i in a ]
print(a5)
aeven2 = [i**2 for i in a if i%2==0]
print(aeven2)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]
[4, 16]

In [32]:
# rookie way
aodd2 = []
for i in a :
    if i % 2 != 0 :
        aodd2.append(i)
# pythonic way 
aeven2 =  [i**2 for i in a if i%2==0]
print(aeven2)
# map and filter
# aodd2 = list(map(lambda i:i**2 ,filter(lambda i: i%2!=0,a))) # not good

[4, 16]

In [40]:
names = ['alice smith','bob brown','charlie green','david white']

initials = []
for n in names:
   part = n.split()
   initials.append(f"{part[0][0]} {part[-1][0]}")
   print(initials)
   
   # comprehension 
   initials = [f"{n.split()[0][0]} {n.split()[-1][0]}" for n in names]
   print(initials)

['a s']
['a s', 'b b', 'c g', 'd w']
['a s', 'b b', 'c g', 'd w', 'b b']
['a s', 'b b', 'c g', 'd w']
['a s', 'b b', 'c g', 'd w', 'c g']
['a s', 'b b', 'c g', 'd w']
['a s', 'b b', 'c g', 'd w', 'd w']
['a s', 'b b', 'c g', 'd w']